<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Home</a>
    <div *ngIf="!logIn" class="container-fluid-lefth">
      <form class="d-flex" (submit)="loginForm()">
        <app-item-form class_item="form-control me-2" type="text" placeholder="user" name="user"
          (outputValue)="changeValueUser($event)"></app-item-form>
        <div style="margin-left: 1rem;">
          <app-item-form class_item="form-control me-2" type="password" placeholder="password" name="password"
            (outputValue)="changeValuePassword($event)">
          </app-item-form>
        </div>
        <div>
          <button class="btn btn-outline-primary" type="submit" style="margin-left: 2rem;">Log In</button>
        </div>
        <div>
          <button class="btn btn-outline-primary" type="button" style="margin-left: 1rem;"
          (click)="signIn()">Sign In</button>
        </div>
      </form>
    </div>
    <div *ngIf="logIn">
      <form class="d-flex" (submit)="logout()">
        <span class="navbar-text" style="padding-right: 15px;">
          {{loginData.email}}
        </span>
        <button class="btn btn-outline-primary" type="submit">LogOut</button>
      </form>
    </div>
  </div>
</nav>
